.xbt {
    background-color: lightseagreen;
    font-size: 25px;
    width: 45px;
    height: 40px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: dodgerblue;
}

.out {
    background-color: red;
}

